:root{
    --primary-color: #00167c;
    --secondary-color: #FF0000;
    --background-color: #F5F5F5;
    --button-color: #E1DAFD;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;    
    --border-hover-color:#aeaeae;
}

* {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* Button */
.btn{
    display: block;
    height: 35px;
    width: 200px;
    background-color: var(--border-color);
}