.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart--table table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(199, 197, 197);
}

.cart__headline {
    text-align: center;
}

.cart__note {
    background-color: rgb(199, 197, 197);
    height: 120px;
    margin: auto;
    width: 150%;
    padding: 10px;
    margin-top: 20px;
}

.cart__note--cartbox {
    width: 99%;
    height: 55px;
    margin-right: 20px;
    border: 0;
}

.cart__note--btn {
    position: relative;
    left: 70%;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 15px;
    background-color: red;
    color: white;
    border: 0;
}